# Auto-detect text files and normalize line endings
* text=auto

# Source code
*.cs text diff=csharp
*.cshtml text
*.json text
*.css text
*.js text
*.sql text
*.sln text
*.csproj text

# Binary files
*.dll binary
*.exe binary
*.pdb binary
*.mdf binary
*.ldf binary
*.bak binary
Db/* binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
